<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chenglong.muscle"
    android:versionCode="8"
    android:versionName="2.2.3" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:name=".engine.MuscleApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="7TkHmQPRU2jRyVCDQ9HGXsdbVD28XkkY" />
<!--            android:value="1UkHRrXTZ5425yG6u9BjU32FqPDX1iGO" />   -->  
  
        <activity
            android:name=".activity.other.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.other.WelcomeActivity"/>
        <activity android:name=".activity.main.MainActivity" />
        <activity android:name=".activity.execrise.MuscleExecriseActivity" />
        <activity android:name=".activity.toolbox.ToolGymActivity" >
            <intent-filter>
                <action android:name="android.intent.action.muscle.shortcut.map" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.toolbox.ToolInfoActivity" />
        <activity android:name=".activity.toolbox.ToolDietActivity" />
        <activity android:name=".activity.toolbox.ToolLessonActivity" />
        <activity android:name=".activity.toolbox.ToolHealthActivity" />
        <activity android:name=".activity.toolbox.ToolHealthItemsActivity" />
        <activity android:name=".activity.toolbox.ToolAlbumActivity" />
        <activity android:name=".activity.toolbox.ToolGameSettingActivity" />
        <activity android:name=".activity.toolbox.ToolGamePlayActivity" />

        <service android:name=".service.FloatBallService"
            android:enabled="true"/>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
    </application>

</manifest>